<h5>This is servers.component.html</h5>
<br>
<a class="btn btn-primary btn-lg" href="#" role="button" (click)="onCreateSrv()">Add server</a>
<br><br>
<!--<input-->
  <!--type="text"-->
  <!--class="form-control"-->
  <!--(input)="onUpdateSrvName($event)">-->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">
<br>
<p *ngIf="serverCreated; else noSrv">Server '{{ serverName }}' was created!</p>
<ng-template #noSrv>
  <p>No server was created so far.</p>
</ng-template>
<!--<br>-->
<!--<p>{{ srvCreationStatus }}</p>-->
<br>
<app-server *ngFor="let server of servers"></app-server>


