<p
  [ngStyle]="{color: getColor()}"
  [ngClass]="{online: isOnline, offline: !isOnline}">
  Server {{ id }}
  <span [ngClass]="{'badge-danger':!isOnline, 'badge-success':isOnline}" class="badge">{{ getStatus() }}
  </span>
</p>
<hr>
